@media (max-width: $screen-xs-max)  {
  #agenda-table{
    display: none!important;
  }
}


body{

  section, >footer{
    padding: 80px 0;
    h2{
      margin-top: 0;
      margin-bottom: 30px;
    }
    h4{
      font-size: 3rem;
    }
    p, table{
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }

  > header{
    position: relative;
    height: 490px;
    overflow: hidden;
    background-color: #000;

    .bg{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('https://instagram.fbio1-1.fna.fbcdn.net/t51.2885-15/e15/10932279_1404119786553301_388486752_n.jpg');
      -webkit-filter: blur(8px);
      -moz-filter: blur(8px);
      -o-filter: blur(8px);
      -ms-filter: blur(8px);
      filter: blur(8px);
      opacity: .7;
      height: 520px;
      margin: -15px -15px;
    }
    .content{
      position: absolute;
      top: 0;
      left:0;
      right: 0;
      text-align: center;
      padding: 80px 0 100px 0;
      color:#fff;
      h3{
        opacity: .8;
        margin-bottom: 2rem;

        font-weight: lighter;
      }
      h2{
        font-size: 4rem;
        font-weight: normal;
        margin-bottom: 2rem;
      }
    }
    @media (max-width: $screen-xs-max) {
      height: auto;
      background: #666;
      .bg{
        display: none;
      }
      .content{
        position: relative;
      }
    }

  }

  #agenda{
    background: #5B7189;
    color: #fff;

    table{
      font-size: 1.4rem;
      color: #000;

      thead{
        background: transparent;
        th{
          color: #fff;
          font-size: 2rem;
          background: transparent;
          font-weight: lighter;
          text-align: center;
          opacity: .8;
        }
      }
      tbody{
        background: $brand-contrast-light;
      }
      > tbody > tr:nth-of-type(odd){
        background: #fff;
      }
      th, td{
        padding: 20px;
        background: rgba(255,255,255,.9);
      }
      p{
        font-size: 1.4rem;
        color: #333;
        margin-top: 0;
      }
      h5{
        color: $brand-primary;
        letter-spacing: 1px;
        font-size: 1.6rem;
        line-height: 1.8rem;
        margin-bottom: 4px;
        margin-top: 0;
        font-weight: normal;
      }
      .time,.st-key{
        min-width: 150px;
        padding: 20px 10px;
      }
      .time{
        text-align: center;
        padding: 20px;
      }
    }
  }

  #info{
    background: #fff;
    article{
      margin-bottom: 40px;
      margin-top: 40px;
      .underline{
        text-decoration: underline;
        color: #000;
      }
      .image{
        width: 100%;
        height: 140px;
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
      }
    }
    article:first-child{
      border-bottom: 1px solid #eee;
      padding-bottom: 40px;
    }
    .speaker-grid{
      padding:40px 15px 0 15px;
      a.speaker{
        text-decoration: none;
        margin-bottom: 30px;
        display: block;
        min-height: 450px;
        position: relative;
        .cover_bg{
          position: absolute;
          height: 300px;
          top: 0;
          left: 0;
          right:0;
          bottom:0;
          background: $brand-contrast;
          opacity: .2;
          z-index: 1;
        }
        .image {
          height: 300px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
          filter: grayscale(100%);

        }
        .details{
          padding: 12px;
          padding-top: 8px;
          background: #fff;
          h4{
            margin-bottom: 0;
            font-size: 2.1rem;
            color: $brand-contrast;
          }
          p{
            color: #666;
            font-size: 1.4rem;
            line-height: 2rem;
          }
        }
      }
      a.speaker:hover{
        h4{
          color: $brand-primary;
        }
        .cover_bg{
          opacity: 0;
          transition: opacity 0.3s ease-in;
        }
        .image{
          fill: transparent;
          filter: grayscale(0%);
          transition: filter 0.3s ease-in;

        }
      }
    }



  }



  #where {
    background: #fff;
    padding-bottom: 0;

    position: relative;

    .place_container{
      z-index: 9;
      position: absolute;
      left: 0;
      right: 0;
      top: 160px;
      padding: 20px;
      padding-top: 40px;
      .places{
        background: #fff;
        padding: 30px;
      }
      .place{
        h4{
          font-size: 2rem;
          margin-bottom: 10px;
          color: $brand-contrast;
        }
        margin-bottom: 40px;
        p,a{
          font-size: 1.3rem;
          line-height: 2rem;
          margin-bottom: 5px;
          margin-top: 0;
        }
      }
    }
    #map{
      height: 500px;
    }
    h2{
    }


  }


  #speaker{

    background: #fff;
    min-height: 600px;
    h1{
      margin-top: 0;
    }
    h4{
      margin-top: 0;
      font-weight: normal;
      font-size: 2rem;
      color: #666;
      margin-bottom: 10px;
    }
  }

  >footer{
    ul,li{
      margin: 0;
      padding: 0;
      list-style: none;
    }
    strong{
      font-size: 1.6rem;
    }
    ul{
      margin-top: 12px;
      a{
        padding: 5px 0;
        display: block;
      }
    }
  }
}